<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/img/favicon.ico" />
    <title>Схема установки</title>
    <link rel="stylesheet" href="static/style/labors.css">
</head>
<body>
    <div class="headerT">
        <h1 id="theor">Схема установки</h1>
    </div>
    <div style="text-align: right; padding-right: 1%; padding-bottom: 2%; margin-top: -2%;"><a href="{{ url_for('profile') }}" class="profile">{{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}</a></div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <iframe src="static/documents/scheme32.html" width="99%" height="620px" style="margin-top: -10px; background-color: white; border-radius: 15px;"></iframe>
        </div>
    </div>

	<div class="linki" style="margin-top: 20px;">
        <a class="hrefL" href="laba32">Далее</a>
    </div>

</body>
</html>
