/* st.css */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400; /* Обычный вес шрифта */
    src: local('Lato Regular'), local('Lato-Regular'), url(fonts/Lato-Regular.woff2) format('woff2');
    /* Если используете CDN, то можете заменить "url(path/to/lato.woff2)" на ссылку на шрифт с CDN */
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700; /* Полужирный вес шрифта */
    src: local('Lato Bold'), local('Lato-Bold'), url(fonts/Lato-Bold.woff2) format('woff2');
    /* Замените на ссылку на шрифт с CDN, если используете CDN */
}

h2{
    margin: 0;
}
.header{
    background-color: #00ADB5;
    color: #FFFFFF;
    border-radius: 5px;
    height: 11vh;
    width: 100%;
}
#headerMain{
    padding-left: 20px;
    padding-top: 10px;
}
#headerPreMain{
    margin-top: 10px;
    padding-left: 20px;
}
body{
    color: #FFFFFF;
    font-family: 'Lato', sans-serif; 
    background-color: #222831;
    margin: 0;
}

.central{
    display: flex;
    justify-content: space-between;
    /* background-color: #ce2929; */
}
.lab{
    /* padding-top: 1vh; */
    /* margin-left: 10px; */
    width: 80%; /* Ширина блоков (оставлено пространство для отступов) */
    /* background-color: rebeccapurple; */
}
.chater{
    width: 20%;
}

.field{
    height: 10vh;
}
p{
    margin: 0;
}
.center-text{
    text-align: center;
    padding: 2px;
}
.ch1{
    border-radius: 10px;
    background-color: #393E46;
    height: 8vh;
    margin-top: 7px;
    margin-bottom: 10px;
}
.ch2{
    height: 550px;
    border-radius: 10px;
    background-color: #393E46;
}
.fieldForm{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    height: 70%;
    font-size: 20px;
    
}

.formLength,
.formAngle{
    border-radius: 5px;
    background-color: #393E46;
    width: 40%;
    margin: 0;
}
.spacer{
    width: 1%;
}
.formButton{
    width: 5%;
    height: 100%;
    border-radius: 4px;
    border: 3px solid #EEEEEE;
    background-color: #00ADB5;
}

.lengthInpt, 
.angleInpt{
    text-align: center;
    padding: 2vh;
    
}

.container {
    display: flex;
    justify-content: space-between;
    /* background-color: #ce2929; */
}
.graph-container{
    padding-top: 1vh;
    width: 50%; /* Ширина блоков (оставлено пространство для отступов) */

    display: flex;
    flex-direction: column;
    align-items: center;
}
.animation-container {
    border-radius: 5px;
    background-color: #FFFFFF;
    padding-top: 1vh;
    /* padding-left: 10px; */
    margin-left: 7%;
    width: 40%; /* Ширина блоков (оставлено пространство для отступов) */
}
#animation-container {
    /* height: 400px;  Установите высоту для контейнера анимации */
    position: relative; /* Добавлено для корректного позиционирования холста */
}


/* Добавляем стили для рамок вокруг ячеек таблицы */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px; /* Отступ снизу таблицы */
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

td[contenteditable="true"] {
    color: #9d9d9d;
}

td[contenteditable="false"] {
    color: #ffffff;
}

button {
    margin-bottom: 10px; /* Отступ между кнопками и канвой */
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* Добавленный отступ для разделения кнопок от таблицы */
}