<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LabPhys</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0"></script>
    <script src="static/js/table.js"></script>
    <link rel="stylesheet" href="static/style/admin.css">
</head>
<body>
    <div class="header">
        <h1 id="headerMain">Страница администратора</h1>
        <div style="text-align: right; padding-right: 1%; padding-bottom: 5.5vh; margin-top: -5.5vh;"><a href="{{ url_for('profile') }}" class="profile">{{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}</a></div>
    </div>

    <div class="linki">
        <a class="hrefL" href="laboratories">Лаборатории</a>
    </div>

	<h1 class="lableAdmin">YOU ARE AN ADMIN!</h1>
	<div class="img">
		<img src="/static/img/kraken.jpg" alt="КРАКЕН">
		<p>ID: {{ user.id}}</p>
		<p>Логин: {{ user.username}}</p>
		<p>Почта: {{ user.email}}</p>
		<p>Группа: {{ user.group}}</p>
	</div>

</body>
</html>
