<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лабораторная работа №1.1</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0"></script>
    <script src="static/js/table.js"></script>
	<!-- <link rel="stylesheet" href="static/style/main.css"> -->
    <link rel="stylesheet" href="static/style/admin.css">
</head>
<body>
    <div class="header">
        <h1 id="headerMain">Страница админимстратора</h1>
    </div>

    <div class="linki">
        <a class="hrefL" href="theory">Теория</a>
        <div class="spacer"></div>
        <a class="hrefL" href="laba">Лаборатории</a>
        <div class="spacer"></div>
        <a class="hrefL" href="report">Отчет</a>
    </div>

	<h1 class="lableAdmin">YOU ARE AN ADMIN!</h1>
	<div class="img">
		<img src="/static/img/kraken.jpg" alt="КРАКЕН">
		<p>ID: {{ user.id}}</p>
		<p>Логин: {{ user.username}}</p>
		<p>Почта: {{ user.email}}</p>
		<p>Группа: {{ user.group}}</p>
	</div>

</body>
</html>
