<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лабораторная работа №1.1</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0"></script>
    <link rel="stylesheet" href="static/style/lab11.css">
</head>
<body>
    <div class="header">
        <h2 id="headerMain">Лабораторная работа №1.1 на тему:</h2>
        <h2 id="headerPreMain">«Определение ускорения свободного падения при помощи математического маятника»</h2>
    </div>
    <div style="text-align: right; padding-right: 1%; padding-bottom: 2%; margin-top: -2%;"><a href="{{ url_for('profile') }}" class="profile">{{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}</a></div>
    <div class="linki">
        <a class="hrefL" href="#" onclick="openModal()">Теория</a>
        <div class="spacer"></div>
        <a class="hrefL" href="laboratories">Лаборатории</a>
        <div class="spacer"></div>
        <a class="hrefL" href="#" onclick="openReportModal()">Отчет</a>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <iframe src="static/documents/theorLab11.html" width="100%" height="650px"></iframe>
        </div>
    </div>

    <div id="myModal2" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <form id="reportForm" onsubmit="return false;">
                <div>
                    <h3>Отчёт по лабораторной работе №1.1 на тему «Определение ускорения свободного падения при помощи математического маятника»</h3>
                </div>

                <div class="report">
                    <div class="mainReport">
                        <p id="name">ФИО: {{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}</p>
                        <p id="name">Группа: {{ user.group }}</p>
                        <p id="name">Преподаватель: {{ user.teacher }}</p>
                        <br>
                        <p>Цель работы:</p>
                        <textarea id="goal-input" name="goal" rows="4" cols="50" required style="height: 130px; width: 95%; max-height: 150px; max-width: 95%;"></textarea>
                        <br>
                        <p style="color: red;">Данные из таблицы для формирования отчета берутся автоматически!</p>
                        <br>
                        <p>Вывод:</p>
                        <textarea id="output-input" name="output" rows="4" cols="50" required style="height: 130px; width: 95%; max-height: 250px; max-width: 95%;"></textarea>
                        <br>
                        <button class="downloadReport" onclick="generateReport()">Сформировать и загрузить отчет</button>
                    </div>
                    <div class="theorReport">
                        <h4>Краткая теория</h4>
                        <textarea id="theor-input" name="output" rows="4" cols="50" required style="height: 500px; width: 100%; max-height: 500px; max-width: 100%;"></textarea>
                        <!-- <iframe src="static/documents/theor.html" width="100%" height="500px"></iframe> -->
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="static/js/theor.js"></script>

    <div class="central">
        <div class="lab">
            <div class="field">
                <div class="fieldForm">
                    <div class="formLength">
                        <div class="lengthInpt">
                            <label for="length-input">Длина нити: </label>
                            <input type="number" id="length-input" value="0.55" min="0.05" max="1" step="0.05" style="font-size: 16px; text-align: center;">
                        </div>
                    </div>

                    <div class="spacer"></div>

                    <div class="formAngle">
                        <div class="angleInpt">
                            <label for="theta-input">Начальный угол отклонения: </label>
                            <input type="number" id="theta-input" value="0" min="-30" max="30" step="1" style="font-size: 16px; text-align: center;">
                        </div>
                    </div>

                    <div class="spacer"></div>

                    <button class="formButton" id="start-button">ПУСК</button>
                </div>
            </div>

            <div class="container">
                <div id="animation-container" class="animation-container">
                    <script src="static/js/anima.js"></script>
                </div>
                <div class="graph-container">
                    <!-- Таблица -->
                    <table id="data-table">
                        <thead>
                            <tr>
                                <th width="5%">Опыт</th>
                                <th width="5%">№ измерения</th>
                                <th>L, м.</th>
                                <th>T, с.</th>
                                <th width="8%">Тср., с</th>
                                <th width="5%">g, м/с²</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="5" contenteditable="false">1</td>
                                <td contenteditable="false">1</td>
                                <td rowspan="5" contenteditable="true">0.55</td>
                                <td contenteditable="true">1.488</td>
                                <td rowspan="5" contenteditable="true">1.8528</td>
                                <td rowspan="5" contenteditable="true">9.49336</td>
                            </tr>
                            <tr>
                                <td contenteditable="false">2</td>
                                <!-- <td contenteditable="true">0.6</td> -->
                                <td contenteditable="true">1.554</td>
                            </tr>
                            <tr>
                                <td contenteditable="false">3</td>
                                <!-- <td contenteditable="true">0.7</td> -->
                                <td contenteditable="true">1.679</td>
                            </tr>
                            <tr>
                                <td contenteditable="false">4</td>
                                <!-- <td contenteditable="true">0.8</td> -->
                                <td contenteditable="true">1.795</td>
                            </tr>
                            <tr>
                                <td contenteditable="false">5</td>
                                <!-- <td contenteditable="true">0.9</td> -->
                                <td contenteditable="true">1.903</td>
                            </tr>
                            <tr>
                                <td rowspan="5" contenteditable="false">2</td>
                                <td contenteditable="false">1</td>
                                <td rowspan="5" contenteditable="true">0.55</td>
                                <td contenteditable="true">1.488</td>
                                <td rowspan="5" contenteditable="true">1.8528</td>
                                <td rowspan="5" contenteditable="true">9.49336</td>
                            </tr>
                            <tr>
                                <td contenteditable="false">2</td>
                                <!-- <td contenteditable="true">0.6</td> -->
                                <td contenteditable="true">1.554</td>
                            </tr>
                            <tr>
                                <td contenteditable="false">3</td>
                                <!-- <td contenteditable="true">0.7</td> -->
                                <td contenteditable="true">1.679</td>
                            </tr>
                            <tr>
                                <td contenteditable="false">4</td>
                                <!-- <td contenteditable="true">0.8</td> -->
                                <td contenteditable="true">1.795</td>
                            </tr>
                            <tr>
                                <td contenteditable="false">5</td>
                                <!-- <td contenteditable="true">0.9</td> -->
                                <td contenteditable="true">1.903</td>
                            </tr>
                            <tr>
                                <td rowspan="5" contenteditable="false">3</td>
                                <td contenteditable="false">1</td>
                                <td rowspan="5" contenteditable="true">0.55</td>
                                <td contenteditable="true">1.488</td>
                                <td rowspan="5" contenteditable="true">1.8528</td>
                                <td rowspan="5" contenteditable="true">9.49336</td>
                            </tr>
                            <tr>
                                <td contenteditable="false">2</td>
                                <!-- <td contenteditable="true">0.6</td> -->
                                <td contenteditable="true">1.554</td>
                            </tr>
                            <tr>
                                <td contenteditable="false">3</td>
                                <!-- <td contenteditable="true">0.7</td> -->
                                <td contenteditable="true">1.679</td>
                            </tr>
                            <tr>
                                <td contenteditable="false">4</td>
                                <!-- <td contenteditable="true">0.8</td> -->
                                <td contenteditable="true">1.795</td>
                            </tr>
                            <tr>
                                <td contenteditable="false">5</td>
                                <!-- <td contenteditable="true">0.9</td> -->
                                <td contenteditable="true">1.903</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="chater">
            <div class="ch1">
                <div class="center-text">
                    <p>1. Установите параметры для начала колебаний. Отрегулируйте планку</p>
                </div>
            </div>
            <div class="ch2">
                <div class="center-text">
                    <p>2. Внесите результаты измерений в таблицу</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
