<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лабораторная работа №1.1</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0"></script>
    <script src="static/js/table.js"></script>
    <link rel="stylesheet" href="static/style/labors.css">
</head>
<body>
    <div class="header">
        <h1 id="headerMain">Лаборатории</h2>
        <div style="text-align: right; padding-right: 1%; padding-bottom: 5.5vh; margin-top: -5.5vh;"><a href="{{ url_for('profile') }}" class="profile">{{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}</a></div>
    </div>


    <div class="labsList">
        <a class="labBox" href="laba11">Лабораторная работа №1.1</a>
        <a class="labBox" href="laba32">Лабораторная работа №3.2</a>
    </div>
</body>
</html>
