<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в лабораторию</title>
    <link rel="stylesheet" href="static/style/login.css">
</head>
<body>
    <!-- <script>
        // Переменная для отслеживания вызова функции
        var windowOpened = false;

        function openNewWindow() {
            // Проверяем, была ли функция уже вызвана
            if (!windowOpened) {
                // Устанавливаем флаг, чтобы избежать повторного вызова
                windowOpened = true;

                // Здесь можно указать параметры окна, например, размеры и позицию
                const windowFeatures = 'width=500,height=500,left=100,top=100';

                // Открываем новое окно
                window.open('/', 'LabPhis', windowFeatures);
            }
        }

        // Вызываем функцию при загрузке страницы
        openNewWindow();
    </script> -->

    <div class="head">
        <h1>Войдите в свою учетную запись</h1>
    </div>
    <div class="form">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                    {% for message in messages %}
                        <p style="margin-top: 0; font-size: 20px; color: red;">{{ message }}</p>
                    {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="inputs">
            <form class="forma" method="post" action="{{ url_for('login') }}">
                <label for="username">Имя пользователя:</label>
                <input type="text" name="username" required size="20" style="font-size: 20px; text-align: center;">

                <div class="spacer"></div>

                <br>
                <label for="password">Пароль:</label>
                <input type="password" name="password" id="password-input" placeholder="Введите пароль" required size="20" style="font-size: 20px; text-align: center;">
                <label style="font-size: 16px; "><input type="checkbox" class="password-checkbox"> Показать пароль</label>

                <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
                <script>
                $('body').on('click', '.password-checkbox', function(){
                    if ($(this).is(':checked')){
                        $('#password-input').attr('type', 'text');
                    } else {
                        $('#password-input').attr('type', 'password');
                    }
                }); 
                </script>

                <br>
                <button class="loginButton" type="submit">Войти</button>
            </form>
            <p>Нет аккаунта? <a href="{{ url_for('register') }}" style="color: rgb(253, 86, 86);">Зарегистрироваться</a></p>
            <a href="{{ url_for('reset_password') }}" style="color: rgb(86, 222, 253);">Сбросить логин или пароль</a>
        </div>
    </div>
</body>
</html>
