<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лабораторная работа №1.1</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0"></script>
    <script src="static/js/table.js"></script>
    <link rel="stylesheet" href="static/style/profile.css">
</head>
<body>
    <div class="header">
        <h1 id="headerMain">Профиль</h1>
    </div>

    <div class="linki">
        <a class="hrefL" href="laboratories">Лаборатории</a>
    </div>
</body>
</html>
