<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/img/favicon.ico" />
    <title>LabPhys - Профиль</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0"></script>
    <script src="static/js/table.js"></script>
    <link rel="stylesheet" href="static/style/profile.css">
</head>
<body>
    <div class="header">
        <h1 id="headerMain">Профиль</h1>
    </div>

    <div class="linki">
        {% if user.is_admin == 1 %}
            <a class="hrefLA" href="admin">Админ</a>
            <div class="spacer"></div>
        {% endif %}
        {% if user.is_teacher == 2 %}
            <a class="hrefLA" href="admin">Преподаватель</a>
            <div class="spacer"></div>
        {% endif %}
        <a class="hrefL" href="laboratories">Главное меню</a>
        <div class="spacer"></div>
        <a class="hrefExit" href="logout">Выйти из аккаунта</a>
    </div>

    <div class="central">
        <div class="img">
            <h2>Информация об аккаунте</h2>
            <p>ID: {{ user.user_id}}</p>
            <p>ФИО: {{ user.last_name }} {{ user.first_name}} {{ user.patronymic }}</p>
            <p>Логин: {{ user.username}}</p>
            <p>Почта: {{ user.email}}</p>
            {% if user.is_teacher != 1 %}
            <p>Группа: {{ user.group}}</p>
            <p>Преподаватель: {{ user.teacher }}</p>
            {% endif %}
        </div>

        <a href="{{ url_for('reset_password') }}" style="color: rgb(86, 222, 253);">Сбросить пароль</a>

        <p style="margin-top: 50px;">Техническая поддержка: degtyarev.dv@dvfu.ru</p>
    </div>


</body>
</html>
