<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <h1>Hello, Flask!</h1>

    <script>
        function openNewWindow() {
            // Здесь можно указать параметры окна, например, размеры и позицию
            const windowFeatures = 'width=500,height=500,left=100,top=100';

            // Открываем новое окно
            window.open('/new', 'New Window', windowFeatures);
        }
    </script>

    <button onclick="openNewWindow()">Открыть новое окно</button>
</body>
</html>
