<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/img/favicon.ico" />
    <title>Лабораторная работа №1.1</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0"></script>
    <script src="static/js/table.js"></script>
    <link rel="stylesheet" href="static/style/main.css">
</head>
<body>
    <div class="header">
        <h2 id="headerMain">Лабораторная работа №1.1 на тему:</h2>
        <h2 id="headerPreMain">«Определение ускорения свободного падения при помощи математического маятника»</h2>
    </div>

    <div class="linki">
        <a class="hrefL" href="theory">Теория</a>
        <div class="spacer"></div>
        <a class="hrefL" href="laba11">Лаборатория</a>
        <div class="spacer"></div>
        <a class="hrefL" href="report">Отчет</a>
    </div>
</body>
</html>
